<div class="calculator" ...attributes>
  <div class="screen">
    {{this.result}}
    <div class="expression">
      {{@expression}}
    </div>
  </div>
  <div class="keyboard">
    <div class="numbers">
      <button {{on "click" (fn this.onKeyPress "1")}} type="button">1</button>
      <button {{on "click" (fn this.onKeyPress "2")}} type="button">2</button>
      <button {{on "click" (fn this.onKeyPress "3")}} type="button">3</button>
      <button {{on "click" (fn this.onKeyPress "4")}} type="button">4</button>
      <button {{on "click" (fn this.onKeyPress "5")}} type="button">5</button>
      <button {{on "click" (fn this.onKeyPress "6")}} type="button">6</button>
      <button {{on "click" (fn this.onKeyPress "7")}} type="button">7</button>
      <button {{on "click" (fn this.onKeyPress "8")}} type="button">8</button>
      <button {{on "click" (fn this.onKeyPress "9")}} type="button">9</button>
      <button {{on "click" (fn this.onKeyPress "0")}} type="button">0</button>
    </div>
    <div class="operators">
      <button {{on "click" (fn this.onKeyPress "+")}} type="button">+</button>
      <button {{on "click" (fn this.onKeyPress "-")}} type="button">-</button>
      <button {{on "click" (fn this.onKeyPress "=")}} type="button">=</button>
    </div>
  </div>
</div>
