<div class="login-form" ...attributes>
  <h1 class="title">Login page</h1>

  <form class="login {{if this.isError "is-error"}}"
    {{on "submit" this.logIn}}
  >
    <label>
      User name
      <Input
        id="userName"
        @type="text"
        @value={{@userName}}
      />
    </label>

    <label>
      Password
      <Input
        id="password"
        @type="password"
        @value={{@password}}
      />
    </label>

    <button type="submit">Log in</button>
  </form>

  <p class="message">{{this.message}}</p>

</div>