<h1 class="title">Login page</h1>

<form class="login {{if this.isError "is-error"}}">
  <label>
    User name
    {{input id="userName" type="text" value=this.userName}}
  </label>

  <label>
    Password
    {{input id="password" type="password" value=this.password}}
  </label>

  <button type="button" {{action "logIn"}}>Log in</button>
</form>

<p class="message">{{this.message}}</p>

