<h1 class="title">Login page</h1>

<form class="login {{if isError "is-error"}}">
  <label>
    User name
    {{input id="userName" type="text" value=userName}}
  </label>

  <label>
    Password
    {{input id="password" type="password" value=password}}
  </label>

  <button {{action "logIn"}}>Log in</button>
</form>

<p class="message">{{message}}</p>

