<div class="calculator">
  <div class="screen">
    {{input value=expression}}
    <div class="result">
      {{result}}
    </div>
  </div>
  <div class="keyboard">
    <div class="numbers">
      <button {{action 'keyPress' '1'}}>1</button>
      <button {{action 'keyPress' '2'}}>2</button>
      <button {{action 'keyPress' '3'}}>3</button>
      <button {{action 'keyPress' '4'}}>4</button>
      <button {{action 'keyPress' '5'}}>5</button>
      <button {{action 'keyPress' '6'}}>6</button>
      <button {{action 'keyPress' '7'}}>7</button>
      <button {{action 'keyPress' '8'}}>8</button>
      <button {{action 'keyPress' '9'}}>9</button>
      <button {{action 'keyPress' '0'}}>0</button>
    </div>
    <div class="operators">
      <button {{action 'keyPress' '+'}}>+</button>
      <button {{action 'keyPress' '-'}}>-</button>
      <button {{action 'keyPress' '='}}>=</button>
    </div>
  </div>
</div>
